body {
    font-family: sans-serif;
    overflow-x: hidden;
}

#toolbox-opener {
    width: 40px;
    height: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background-color: #ccc;
    text-align: center;
    padding-top: 0.6em;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
    top: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 10000;
}

#toolbox-opener:hover {
    cursor: pointer;
}

#toolbox {
    width: 200px;
    height: 450px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    position: absolute;
    right: -200px;
    top: 20px;
    padding: 1em;
    background-color: #ccc;
    box-sizing: border-box;
    z-index: 10000;
}

#canvas-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8000;
}

.toolbox_show {
    animation-duration: 1s;
    animation-name: toolbox_show;
    animation-fill-mode: forwards;
}

.toolbox_hide {
    animation-duration: 0.5s;
    animation-name: toolbox_hide;
    animation-fill-mode: forwards;
}

.opener_show {
    animation-duration: 1s;
    animation-name: opener_show;
    animation-fill-mode: forwards;
}

.opener_hide {
    animation-duration: 0.5s;
    animation-name: opener_hide;
    animation-fill-mode: forwards;
}

@keyframes opener_hide {
    from {
        right: 200px;
    }

    75% {
        right: 150px;
    }

    to {
        right: 0px;
    }
}

@keyframes opener_show {
    from {
        right: 0px;
    }

    75% {
        right: 20px;
    }

    to {
        right: 200px;
    }
}

@keyframes toolbox_show {
    from {
        right: -200px;
    }

    75% {
        right: -180px;
    }

    to {
        right: 0px;
    }
}

@keyframes toolbox_hide {
    from {
        right: 0px;
    }

    75% {
        right: -50px;
    }

    to {
        right: -200px;
    }
}

#note-toolbox-table {
    margin-top: 2em;
}

